@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

.aboutcontainer {
display: flex;
}

.aboutcontainer img {
    padding: 1em;
    margin: 0.5em;
    width: 30vw;
}

.abouttextcontainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
}

h2.abouttitle  {
    color: #FFBBDC;
    font-size: 1.3em;
}

.abouttext{
    font-family: 'Barlow', sans-serif;
    font-size: 0.8em;
}