@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

.aboutcontainer {
display: flex;
}

.aboutcontainer img {
    padding: 20px;
    margin: 15px;
    width: 30vw;
}

.abouttextcontainer h2 {
    color: #FFBBDC;
}

.abouttext{
    font-family: 'Barlow', sans-serif;
}