@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

.about-container {
display: flex;
}

img {
    padding: 30px;
    margin: 15px;
    width: 30vw;
}

p {
    font-family: 'Barlow', sans-serif;
}