.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.juice_container {
position: relative;
width: 50%
}

.juice_container img {
    width: 100%;
    height: auto;
  }

  .juice_container .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: #1F2B21;
    font-size: 45px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }

.bowl_container {
position: relative;
width: 50%
     }

.bowl_container img {
   width: 100%;
   height: auto;
    }

.bowl_container .btn {
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: transparent;
color: #1F2B21;
font-size: 45px;
font-weight: bold;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.cookies_container {
position: relative;
width: 50%
 }

.cookies_container img {
width: 100%;
height: auto;
}

.cookies_container .btn {
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: transparent;
        color: #1F2B21;
        font-size: 45px;
        font-weight: bold;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}