@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    margin: 1.5em;
}

h2.category {
    font-family: 'Abril Fatface', sans-serif;
    color: #FFBBDC;
    font-size: 1.5em;
}

section > p {
    font-family: 'Barlow', sans-serif;
}