@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h2 {
  font-family: 'Abril Fatface', cursive;
  padding: 15px;
}

ul li a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: whitesmoke;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  li {
    padding: 30px;
  }