@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@400;500&family=Righteous&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
  }

.container-logo {
  width: 40%
}

  .container-nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 60%;
    padding-right: 10px;
  }


.logo {
  font-family: 'Barlow', sans-serif;
  font-size: 3vw;
  padding-left: 1vw;
}

ul.container-nav {
    list-style-type: none;
    font-size: 2vw;
  }

ul.container-nav li {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: whitesmoke;
    cursor: pointer;
  }

ul.container-nav li:hover {
color: #FFBBDC;
}